@model List<webdev.Models.Book>
<div>
    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        <input type="text" name="link" placeholder="link"/> <br/>
        <button type="submit">Add</button>
    }
</div>  
<div>
    <table>
        @foreach(var item in Model) {
            <tr>
                <td><strong>@Html.DisplayNameFor(model => item.fullLink):</strong></td>
                <td>@Html.DisplayFor(model => item.fullLink),</td>
                <td>@Html.ActionLink(model => item.fullLink)</td>
                <td><strong>@Html.DisplayNameFor(model => item.shortLink):</strong></td>
                <td>@Html.DisplayFor(model => item.shortLink)</td>
                <td>| @Html.ActionLink("Delete", "Delete", "Link", item)</td>
            </tr>
        }
    </table>
</div>