@model List<LinkShortener.Models.Link>
<div>
    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        <input type="text" name="fullLink" placeholder="Full Url" pattern="w{3}\.[a-zA-Z0-9]+\.?[a-z]{2,3}(|\.[a-z]{2,3})" /> <br/>
        <button type="submit">Add</button>
    }
</div>  
<div>
    <table>
        @foreach(var item in Model) {
            <tr>
                <td>@Html.DisplayFor(model => item.ID)</td>
                <td><strong>@Html.DisplayNameFor(model => item.fullLink):</strong></td>
                <td>@Html.ActionLink(item.fullLink, "MyRedirectFull", "Redirect", item)</td>
                <td><strong>@Html.DisplayNameFor(model => item.shortLink):</strong></td>
                <td>@Html.ActionLink(item.shortLink, "MyRedirectShort","Redirect", item)</td>
                <td>| @Html.ActionLink("Delete", "Delete", "Link", item)</td>
            </tr>
        }
    </table>
</div>