@model List<LinkShortener.Models.Link>
<div>
    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        <input type="text" name="fullLink" placeholder="fullLink"/> <br/>
        <button type="submit">Add</button>
    }
</div>  
<div>
    <table>
        @foreach(var item in Model) {
            <tr>
                <td><strong>@Html.DisplayNameFor(model => item.fullLink):</strong></td>
                <td>@Html.DisplayFor(model => item.fullLink),</td>
                <td><strong>@Html.DisplayNameFor(model => item.shortLink):</strong></td>
                <td>@Html.DisplayFor(model => item.shortLink)</td>
                <td>| @Html.ActionLink("Delete", "Delete", "Link", item)</td>
            </tr>
        }
    </table>
</div>